.home{
  background-image: url("/assets/Images/Home/HomeBackground.jpeg");
  background-size: cover;
  box-shadow: 10px;
}

.img-container {
  position: relative;
  display: inline-block;
  background-color: orange;
}

.img-container img {
  display: block;
  max-width: 100%;
}

.img-container .icons {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffc107; /* Replace with your desired warning color */
}


.img-container .icons i {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2rem;
}

.img-container .icons span {
  display: inline-block;
  margin-left: 5px;
  // font-size: 1.2rem;
  // font-weight: bold;
}

